# [ java 字节码 ]
*.class

# [ 日志文件 ]
*.log

# [ 打包压缩文件 ]
#*.jar
*.war
*.zip
*.tar.gz
*.rar


# [ 操作系统缓存和备份 ]
tmp/
*.tmp
*.bak
*.swp
*~.nib

# [ eclipse ]
.metadata
bin/
.settings
.classpath
.project

# [ IDEA ]
.idea/
*.iml

# [ MAVEN ]
target/

# ################################################  前端  ###################
# [npm包管理依赖]
node_modules/

# [dist目录]
dist/

# [HBuilderX  编译目录 ]
unpackage/

# [vscode IDE]
.vscode/

# [mac]
.DS_Store
